body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.password-container{
    background-color: #f48be6;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px;
}

.input-container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    outline: none;
    font-size: 20px;
    width: 80%;
    background-color: transparent;
    letter-spacing: 4px;
}

.input::placeholder{
    letter-spacing: 0px;
    color: #999;
}

.fa-copy{
    cursor: pointer;
    opacity: 0.3;
    color: #333;
}

.fa-copy:hover{
    opacity:0.7;
}

.generate-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.generate-btn:hover{
    background-color: #04b216;
}

.generate-btn:active{
    transform: scale(0.98);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    top: 20px;
    right: 20px;
    background-color: #8cec83;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.active.alert-container{
    animation: fadeOut 2s forwards;
}